*.egg-info
*.mo
*.pyc
*~
.coverage
.installed.cfg
.mr.developer.cfg
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
parts/
plone/formwidget/autocomplete
plone/formwidget/contenttree
plone/formwidget/namedfile
var/
